#title {
  text-align: center;
}

menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-bottom: 20px;
  margin-left: 10px;
}

menu li {
  float: left;
  padding: 3px;
  border: black 1px solid;
}

table th {
  border: black solid 1px;
}

table td {
  border: black solid 1px;
}

table td a {
  text-decoration: none;
}

strong {
  color: red;
}

a:visited {
  color: black;
}


#menu-bottom {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;

}