#title {
  text-align: center;
}

#content-html {
  text-align: center;
  width: auto;
  height: auto;
}

menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-bottom: 20px;
  margin-left: 10px;
}

menu li {
  float: left;
  padding: 3px;
  border: black 1px solid;
}

#content-html img {
  width: 480px;
}

#centrage {
  text-align: center;
}

table {
  display: flex;
  justify-content: center;
  padding: 0 15px 0 15px;
}

table th {
  border: black solid 1px;
  text-align: center;
  table-layout: auto;
  background-color: rgb(38, 126, 184);
  color: white;
}

#tag-style {
  color: rgb(177, 115, 0);
  font-size: 10px;
  font-weight: bold;
  padding-left: 10px;
  text-align: start;
  word-spacing: 7px;
}

table td {
  border: black solid 1px;
  background-color: rgb(243, 242, 242);
  table-layout: auto;
  width: auto;
  height: auto;
}

table td a {
  text-decoration: none;
}

strong {
  color: red;
}

a:visited {
  color: black;
}

#menu-bottom {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

@media screen and (max-width: 700px) {
  #content-html img {
    width: 100%;
  }
  table th {
    display: none;
  }

  table tr {
    display: block;
    margin-bottom: 40px;
  }

  table td {
    display: block;
    text-align: right;
  }
}
